<div class="mx-auto flex max-w-3xl flex-col items-center justify-center p-5">
  <feed-search class="mb-7 w-full"></feed-search>

  <div class="flex flex-col gap-4">
    <article
      class="rounded-md border border-black bg-white"
      *ngFor="let i of [0, 0, 0, 0, 0, 0, 0, 0, 00, 00, 0, 0]"
    >
      <header class="border-b px-8 py-4">
        <h1 class="flex justify-between">
          <span> Anonymous </span>
          <span> ⭐️⭐️⭐️⭐️⭐️ </span>
        </h1>
      </header>
      <p class="px-8 py-6">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
        soluta dolorem natus dignissimos repellendus labore, cupiditate vel
        nostrum voluptate hic? Quasi qui repellat, neque facilis quibusdam
        accusantium aliquam doloremque quidem.
      </p>
    </article>
  </div>
</div>
