<div class="mx-auto flex max-w-7xl flex-col items-stretch justify-center p-5">
  <div class="mb-7 flex gap-3">
    <feed-search class="grow items-center justify-center"></feed-search>
    <button
      (click)="openCreateReviewDialog()"
      class="hidden rounded bg-yellow-700 px-4 text-white transition active:bg-yellow-800 md:block"
    >
      Create review
    </button>
  </div>

  <div class="grid grid-cols-1 items-stretch gap-4 md:grid-cols-2">
    <feed-review [review]="review" *ngFor="let review of reviews"></feed-review>
  </div>
</div>
<button
  class="fixed bottom-8 right-6 flex h-14 w-14 items-center justify-center rounded-full bg-yellow-700 text-2xl font-bold text-white shadow-lg transition active:translate-y-0.5 active:shadow md:hidden"
>
  +
</button>
