<div class="mx-auto flex max-w-7xl flex-col items-stretch justify-center p-5">
  <feed-search class="mb-7"></feed-search>

  <div class="grid grid-cols-1 items-stretch gap-4 md:grid-cols-2">
    <feed-review [review]="review" *ngFor="let review of reviews"></feed-review>
  </div>
</div>
<button
  class="fixed bottom-8 right-6 flex h-14 w-14 items-center justify-center rounded-full bg-yellow-700 text-2xl font-bold text-white shadow-lg transition active:translate-y-0.5 active:shadow md:hidden"
>
  +
</button>
